@using OnlineShop.ViewModels.Common;
@model PagedResult<OnlineShop.ViewModels.System.Users.UserViewModel>

@{
    ViewData["Title"] = "List of customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{ 
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">List of customers</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Homepage</a></li>
        <li class="breadcrumb-item active">List of customers</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                </div>
                <div class="col-md-5 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                @*name: là tên tham số*@
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            <div class="table-responsive" style="width: 70%; margin-left: 12rem;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Phone number
                            </th>
                            <th class="text-center">
                                Email
                            </th>
                            <th class="text-center">
                                Operation
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {

                            if (item.UserName != "admin")
                            {
                                <tr>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary" style="background: white;">@Html.ActionLink("View Detail", "Details", new { id = item.Id })</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @*truyền Model PagedResult vào vì hàm InvokeAsync của class PagerViewComponent nhận 1 
                tham số object PagedResult*@
            @await Component.InvokeAsync("Pager",Model) 
        </div>
    </div>
</div>
