@model OnlineShop.ViewModels.Catalog.Products.ProductViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Product details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Product details @Model.Name</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a style="color: #0779e4;" href="/">Homepage</a></li>
        <li class="breadcrumb-item active">Product details</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Back to list</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">
                                Product's name
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Category
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Category.Name)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Price
                            </td>
                            <td>
                                <span>&#36;</span>@Model.Price.ToString("N0")
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Quantity
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Stock)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Specifications
                            </td>
                            <td>
                                @{
                                    string html = @Model.Description;
                                    string removeFirstFigure = html.Remove(0, 22);
                                    string removeLastFigure = removeFirstFigure.Remove(removeFirstFigure.Length - 9);
                                    string addedTableFormat = removeLastFigure.Insert(6, " ");
                                }
                                @Html.Raw(addedTableFormat)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Product details
                            </td>
                            <td>
                                <style>
                                    #more {
                                        display: none;
                                    }
                                </style>
                                @Html.Raw(Model.Details)
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Product's Image
                            </td>
                            <td>
                                <img style="width:150px;height:150px" src="@(Configuration["BaseAddress"] + Model.ThumbnailImage)" alt="Alternate Text" />
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Full Image
                            </td>
                            <td>
                                <img style="width:250px;height:250px" src="@(Configuration["BaseAddress"] + Model.ProductImage)" alt="Alternate Text" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
